{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pharmacy Inventory</title>
    <link rel="stylesheet" href="{% static 'inventory/style.css' %}">

</head>
<body>

<header>
    <h1>Products</h1>
</header>

<form method="GET" class="search-form">
    <div class="search-bar-container">
        <div class="search-wrapper">
            <input type="text" name="q" id="searchInput" placeholder="Search medicine..." value="{{ query }}" />
            <button type="submit">&#128269;</button>
        </div>
    </div>
</form>

<div class="container">
    <table>
        <thead>
            <tr>
                <th>Medicine ID</th>
                <th>Medicine Name</th>
                <th>Unit</th>
                <th>Price (₹)</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for medicine in medicines %}
                <tr>
                    <td>{{ medicine.product_id }}</td>
                    <td>{{ medicine.product_name }}</td>
                    <td>{{ medicine.unit }}</td>
                    <td>{{ medicine.product_price }}</td>
                    <td>
                        <form method="POST">
                            {% csrf_token %}
                            <div>
                                <button class="dual-button">
                                    <span class="plus">+</span> | <span class="minus">−</span>
                                </button>
                                <input type="number" class="stock-input" placeholder="Qty" required>
                                <button type="submit" class="button">OK</button>
                                    <a href="{% url 'medicine_info' medicine.product_id %}">
                                        <button class="info-btn" title = "This is the information">INFO</button>    
                                    </a>
                            </div>
                        </form>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="5">No medicines found.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <script>
        document.addEventListener("DOMContentLoaded", () => {
        document.querySelectorAll(".info-btn").forEach(btn => {
            btn.addEventListener("click", () => {
                const info = btn.nextElementSibling;
                info.style.display = info.style.display === "none" ? "inline" : "none";
            });
        });
    });
    </script>

    <div class="add-item-container">
        <a href="{% url 'add_medicine' %}">
            <button class="add-item-button">+ Add Item</button>
        </a>
    </div>
</div>

<div class="footer">
    &copy; 2025 Pharmacy Inventory System
</div>

</body>
</html>
